
form#new_user {
  div {
    padding-bottom: 10px;
  }
  label {
    display: inline-block;
    width:100px;
  }
  input {
    width:200px;
  }
}

.error_feedback {
  p {
    color:red;
    font-weight: bolder;
  }
}

.field_with_errors {
  input {
    border: 1px solid red;
  }
}