
form#new_user {
  div {
    padding-bottom: 10px;
  }
  label {
    display: inline-block;
    width:100px;
  }
  input {
    width:200px;
  }
}

.error_feedback {
  p {
    color:red;
    font-weight: bolder;
  }
}

.field_with_errors {
  input {
    border: 1px solid red;
  }
}

#header {
  form {
  display:inline;
  }
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom: 1px dashed gray;
}

form#new_event {
  label {
   display:inline-block;
   width:100px;
  }
  input {
    margin: 2px 0;
  }
}

ul#guest-list {
  .guest-ok {
    color:green;
  }
  .guest-bad {
    color : red;
  }
}